body {
    background-color: #272727;
}

.content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
}

.userBoard, .computerBoard {
    display: grid;
    grid-template: repeat(10, 2em) / repeat(10, 2em);
}

button {
    background-color: #535353;
    border: .1em solid black;
}

button:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

.miss {
    background-color: white;
}

.hit {
    background-color: red;
}
